.footer {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    padding: 4.5rem 0;
    gap: 2.25rem;
}

@media (min-width: 768px) {
    .footer {
        justify-content: flex-end;
        padding: 5.75rem 4.5rem;
    }
}